<div><%= @place.description %></div>
<% if @place.items.count != 0 %>
  <div>you see:
	  <% @place.items.each do |item| %>
	    <span class="item"><%= item.name %></span>
	  <% end %>
  </div>
<% end %>
<% @place.outgoing_links.each do |outgoing_link| %>
  <div><%= link_to outgoing_link.description, place_path(outgoing_link.to) %></div>
<% end %>